[Unit]
Description=gunicorn daemon
Requires=jenkins-scripts/gunicorn.socket
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/var/lib/jenkins/workspace/chat-app-backend
ExecStart=/var/lib/jenkins/workspace/chat-app-backend/env/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          config.wsgi:application

[Install]
WantedBy=multi-user.target
