[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
Type=notify
# the specific user that our service will run as
User=root
Group=www-data
# another option for an even more restricted service is
# DynamicUser=yes
# see http://0pointer.net/blog/dynamic-users-with-systemd.html
RuntimeDirectory=gunicorn
WorkingDirectory=/var/lib/jenkins/workspace/chat-app-backend
ExecStart=/var/lib/jenkins/workspace/chat-app-backend/env/bin/gunicorn --workers 3 --log-level debug --error-logfile /var/lib/jenkins/workspace/chat-app-backend/error.log --bind unix:/run/gunicorn.sock app.wsgi:application

[Install]
WantedBy=multi-user.target
